/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #005500;
 
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 600px;
 
}

.selection {
  flex-basis: 70%;
  background-color: #00aa00;
  padding: 20px;
  margin-right: 20px;
  height: 600px;
}

.selection h2 {
  margin-bottom: 10px;
  position: relative;
  left: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tree-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00ff00;
  padding: 10px;
  cursor: pointer;
}

.tree-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.preview {
  flex-basis: 30%;
  background-color: #00ff00;
  padding: 20px;
}

.preview h2 {
  margin-bottom: 10px;
}

.preview-content {
  text-align: center;
  margin-bottom: 20px;

}

.preview-content img {
	padding-right: 50px;
height: 500px;
  
  object-fit: cover;
  margin-bottom: 10px;
}

.music-note {
  position: fixed;
  top: 20px;
  right: 20px;
 width: 90px;
   height: 90px;
  background-image: url('../img/music-note.png');
  background-size: contain;
  cursor: pointer;
  animation: swing 1s ease-in-out infinite alternate;
}

.music-note.paused {
  animation-play-state: paused;
}

.music-control {width: 150px;
  position: fixed;
  top: 180px;
  right: 5px;
  background-color: #00ff7f;
  padding: 5px;
  box-shadow: 0 0 5px rgba(85, 170, 0, 0.2);
  margin: 5px;
}

.music-control h3 {
  margin-top: 0;
}

.music-control ul {
  list-style: none;
  padding: 0;
}

.music-control ul li {
  cursor: pointer;
  margin-bottom: 5px;
}

/* Animation */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #000;
    z-index: 1;
}